body {
  background-color: black;
  height: 100vh;
  height: 100svh;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.pc {
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

.img {
  width: 100vw;
  height: auto;
}
.btn {
  cursor: pointer;
  position: absolute;
  opacity: 0.3;
}
.btn1 {
  top: calc(((1920 / 1086) * 20.6) * 1vw);
  left: calc(((1920 / 1086) * 17.2) * 1vw);
  width: 19vw;
  aspect-ratio: calc(40 / 10);

  @media (max-width: 768px) {
    width: 70vw;
    top: calc(((520 / 1382) * 455) * 1vw);
    left: unset;
  }
}
.btn2 {
  top: calc(((1920 / 1086) * 20.6) * 1vw);
  right: calc(((1920 / 1086) * 17.2) * 1vw);
  width: 19vw;
  aspect-ratio: calc(40 / 10);

  @media (max-width: 768px) {
    width: 70vw;
    top: calc(((520 / 1382) * 520) * 1vw);
    right: unset;
  }
}
.btn3 {
  top: calc(((1920 / 1086) * 26.3) * 1vw);
  width: 39vw;
  aspect-ratio: calc(40 / 5);

  @media (max-width: 768px) {
    width: 93vw;
    top: calc(((520 / 1382) * 610) * 1vw);
  }
}
